<% # Olivier Lafleur 5 novembre 2021 %>
<h2><%= @recette.user.nom%> <%= @recette.user.prenom%></h2>
<p><%= @recette.titre%></p>
<p><%= @recette.etapes%></p>
<h3>Nombre d'ingrédients : </h3>
<p><%= @nbIn%></p>
